<body>
  <section class="section2">
  <h2 id="t-restante" class="estadisticas">TIEMPO: {{ tiempoRestante }} SEGUNDOS</h2>
  <h2 id="puntuacion" class="estadisticas">PUNTUACION: {{ puntuacion }}</h2>
</section>

<div id="tablero">
  <div
    *ngFor="let tarjeta of tarjetas"
    class="area-tarjeta"
    (click)="seleccionarTarjeta(tarjeta.indice)"
  >
    <div
      class="tarjeta"
      [id]="'tarjeta' + tarjeta.indice"
      [style.transform]="(tarjeta.volteada || tarjeta.encontrada) ? 'rotateY(180deg)' : 'rotateY(0deg)'"
    >
      <div
        class="cara trasera"
        [id]="'trasera' + tarjeta.indice"
        [attr.data-id]="tarjeta.id"
        [style.background]="tarjeta.encontrada ? 'plum' : 'lightcyan'"
        [innerHTML]="tarjeta.img"
      >
      </div>

      <div class="cara superior">
        <i class="far fa-question-circle"></i>
      </div>
    </div>
  </div>
</div>

<br>

<div class="nuevo-juego" (click)="generarTablero()">
  REVOLVER CARTAS
</div>

</body>
