<section>
  <video autoplay loop muted playsinline>
    <source src="img/video1.mp4" type="video/mp4" class="video">
  </video>
  <div class="contenedor">
    <div class="formulario">
      <form id="registerForm" action="#">
        <h2 class="registrate">Regístrate Aquí</h2>
        <div class="input-contenedor">
          <i class="fa-solid fa-user"></i>
          <input type="text" id="name" required>
          <label for="name">Crea tu usuario</label>
        </div>
        <div class="input-contenedor">
          <i class="fa-solid fa-lock"></i>
          <input type="password" id="password" required>
          <label for="password">Crea una Contraseña</label>
        </div>
        <div>
          <button type="submit">Acceder</button>
        </div>
        <div class="registrar">
          <p>¿Ya Tienes Cuenta? <a href="index.html">Inicia sesión</a></p>
        </div>
      </form>
    </div>
  </div>
</section>
